body{
        background-color: rgb(39 39 42);
        color: aliceblue;
}
*{
    scroll-behavior: smooth;
}
.card{
    background-color: rgb(29, 29, 32);
}
.navbar{
    background-color:rgb(29, 29, 32);
}